a {
  text-decoration: none;
}
.App {
  background: linear-gradient(
    181deg,
    rgb(2, 0, 97) 15%,
    rgb(97, 149, 219) 158.5%
  );
  height: auto;
}
.MainSection {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
footer {
  margin-top: 172px;
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
.Logo {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: white;
  text-decoration: none;
  margin-left: 70px;
}
